---
import "../styles/global.css"

import ThemeIcon from "./ThemeIcon.astro";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---
<header>
    <Hamburger />
    <nav class="nav-links">
        <ThemeIcon />
        <Navigation />
    </nav>
</header>